
{# templates/emails/registration.html.twig #}
<h3>Contact</h3>


Nom(s): {{ lastname }} <br>
Sujet(s): {{ subject }} <br>
Email: {{ emailcustomer }} <br>
Téléphone: {{ telephone }} <br>
Message : {{ content }} <br>

