<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}Accueil - Resti-tech Sarl{% endblock %}</title>
    <link rel="icon" href="{{ asset('images/favicon.ico') }}" />
    <link href="{{ asset('css/font-awesome.css') }}" rel="stylesheet" type="text/css">
    <link href="{{ asset('css/icon-font.css') }}" rel="stylesheet" type="text/css">
    <link href="{{ asset('css/bootstrap.css') }}" rel="stylesheet" type="text/css">
    <link href="{{ asset('css/style.css') }}" rel="stylesheet" type="text/css">
    <link href="{{ asset('css/owl.carousel.css') }}" rel="stylesheet" type="text/css">
    <link href="{{ asset('css/photobox.css') }}" rel="stylesheet" type="text/css">
    <link href="{{ asset('css/responsive.css') }}" rel="stylesheet" type="text/css">
    {% block stylesheets %}{% endblock %}
</head>

<body>
    <header class="bg-img">
        <div class="container">
            <div class="upper-header">
                <div class="logo"><a href="/"><img src="{{ asset('images/logo-restitech-300.png') }}"
                            alt="Logo Restitech Sarl"></a>
                </div>
                <div class="contact-strip">
                    <div class="phone-no">
                        <h5>APPELEZ-NOUS:</h5>
                        <span class="text-secondary"> (+237) 695 20 64 96</span>
                    </div>
                </div><!-- /contact-strip -->
            </div><!-- /upper-header -->

        </div>
    </header>
    <div class="container rel">
        <nav id="navbar" class="navbar navbar-default collapse">
            <ul class="nav navbar-nav">
                <li class="{% if app.request.attributes.get('_route') == 'index' %}active{% endif %}"><a
                        href="/">ACCUEIL</a></li>
                <li class="{% if app.request.attributes.get('_route') == 'about' %}active{% endif %}"><a
                        href="/qui-sommes-nous">Qui sommes-nous ?</a></li>
                <li class="{% if app.request.attributes.get('_route') == 'vision' %}active{% endif %}"><a
                        href="/notre-vision">Notre vision</a></li>
                <li class="{% if app.request.attributes.get('_route') == 'strategie' %}active{% endif %}"><a
                        href="/strategie-manageriale">Stratégie Managériale</a></li>
                <li><a aria-expanded="true" role="button" data-toggle="dropdown" class="dropdown-toggle"
                        href="#">SERVICES</a>
                    <ul class="dropdown-menu" role="menu">
                        <!--<li class="active"><a href="home-2.html">Home 2</a></li>-->
                        <li><a href="/services/telecommunication">Télécommunication</a></li>
                        <li><a href="/services/batiment-et-travaux-publics">Bâtiment & Travaux Public</a></li>
                        <li><a href="/services/electricite">Électricité</a></li>
                        <!-- <li><a href="#">Fournitures diverses</a></li>-->
                    </ul>
                </li>
                <li class="{% if app.request.attributes.get('_route') == 'motpdg' %}active{% endif %}"><a
                        href="/mot-du-pdg">Mot du PDG</a></li>
                <li class="{% if app.request.attributes.get('_route') == 'contact' %}active{% endif %}"><a
                        href="/contact">CONTACT</a></li>
            </ul>
        </nav>
    </div>
    {% block body %}{% endblock %}
    <footer>
        <section class="bg-footer">
            <div class="container">
                <div class="area">
                    <div class="row">

                        <div class="col-md-4">
                            <div class="location">
                                <i class="icon-streetsign"></i>
                                <h5>ZONE D'INTERVENTION</h5>
                                <p class="location-name">CAMEROUN</p>
                            </div>
                        </div>
                        <div class="col-md-8">
                            <div class="phone">
                                <i class="icon-clock-o"></i>
                                <h5>SERVICES DISPONIBLES 24h/24</h5>
                                <p class="location-name"> (+237) 695 20 64 96</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="widgets">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="about">
                                <a href="/"><img src="{{ asset('images/logo-2.png') }}" class="img-responsive"
                                        alt="image"></a>
                                <p>Décembre 2011 sous le sigle PRIME Sarl et devenu <br />
                                    Restitution-Technologie en abrégé Resti-tech Sarl en 2014 <br /> </p>
                            </div>
                            <div class="social-media">
                                <ul>
                                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                    <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
                                    <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="work-timing">
                                <h5>HORAIRES</h5>
                                <ul>
                                    <li><a href="#">WEEKEND<span> 13:00 H - 18:00 H</span></a></li>
                                    <li><a href="#">LUNDI<span> 08:00 H - 18:00 H</span></a></li>
                                    <li><a href="#">MARDI<span> 08:00 H - 18:00 H</span></a></li>
                                    <li><a href="#">MERCREDI<span> 08:00 H - 18:00 H</span></a></li>
                                    <li><a href="#">JEUDO<span> 08:00 H - 18:00 H</span></a></li>
                                    <li><a href="#">VENDREDI<span> 08:00 H - 18:00 H</span></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="contact-us">
                                <h5>CONTACTEZ-NOUS</h5>
                                <div id="message1"></div>
                                <form id="comments_form" action="#" class="row" name="contactform" method="post">
                                    <input type="text" id="name" placeholder="NOM" />
                                    <input type="text" id="email" placeholder="EMAIL" />
                                    <textarea id="message" placeholder="MESSAGE" rows="3" cols="10"></textarea>
                                    <button id="submitcontact" type="submit" id=""
                                        class="btn btn-secondary">ENVOYER</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <div class="bg-lowerfooter">
            <div class="lower-footer">
                <div class="container">
                    <ul class="bottom-links">
                        <li><a href="/">ACCUEIL</a></li>
                        <li><a href="/qui-sommes-nous">A PROPOS DE NOUS</a></li>
                        <li><a href="/contact">Contactez Nous</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>

    <script type="text/javascript" src="{{ asset('js/jquery.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/bootstrap.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/owl.carousel.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/jquery.photobox.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/script.js') }}"></script>
    <script type="text/javascript" src="https://smtpjs.com/v3/smtp.js"></script>
    {% block javascripts %}{% endblock %}
    <script>
       /* $('#comments_form').on('submit', function () {
            e.preventDefault();
            alert("Hello Smtp Js, ask recall");
            var name = $(this).find("#name").val();
            alert("nom : " + name);
            var phone = $(this).find("#email").val();
            var message = $(this).find("#message").val();
            var contentMessage = "Nom de l'émetteur : " + name + " | Email : " + phone + " | Message:" +
                message;
            Email.send({
                SecureToken: token,
                To: 'kamdemfotsopatrickorel@gmail.com',
                From: "website@restitechsarl.com",
                Subject: "Vous avez reçu un message depuis votre site : " + name,
                Body: contentMessage
            }).then(
                //message => alert(message)
                () => {
                    $("#name").val("");
                    $("#email").val("");
                    $("#message").val("");
                    console.log("message envoyé");
                }

            );

        });*/
     /*   $("#comments_form").submit(function (e) {
            e.preventDefault();
            alert("Hello Smtp Js, ask recall");
            var name = $(this).find("#name").val();
            alert("nom : " + name);
            var phone = $(this).find("#email").val();
            var message = $(this).find("#message").val();
            var contentMessage = "Nom de l'émetteur : " + name + " | Email : " + phone + " | Message:" +
                message;
            Email.send({
                SecureToken: token,
                To: 'kamdemfotsopatrickorel@gmail.com',
                From: "website@restitechsarl.com",
                Subject: "Vous avez reçu un message depuis votre site : " + name,
                Body: contentMessage
            }).then(
                //message => alert(message)
                () => {
                    $("#name").val("");
                    $("#email").val("");
                    $("#message").val("");
                    console.log("message envoyé");
                }

            );
        })*/
    </script>
</body>

</html>