{% extends 'base.html.twig' %}
{% block title %}Contact - Resti-tech Sarl{% endblock %}
{% block body %}
<section>
        <div class="section-banner" style="background-image:url(images/about-mainimg.png);"></div>
      </section>
<section>
    <div class="container">
        <div class="title-box">
            <div class="title-box-inner">
                <h3 class="page-title">CONTACT</h3>
                <ul class="breadcrumb">
                    <li><a href="/">ACCUEIL</a></li>
                    <li class="active"><a href="#">CONTACT</a></li>
                </ul>

            </div>
  
        </div>
    </div>
</section>

<section class="contact-bg-color">
        <div class="container">
            <div class="contact-main">
                <div class="row">
                    <div class="col-md-4">
                        <div class="reach-us">
                            <h3>COMMENT NOUS CONTACTER</h3>
                            <div class="working-hours"> <i class="fa fa-clock-o"></i>
                                <h4>HORAIRES</h4>
                                <span>Du Lundi au Vendredi   9:00 H - 18:00 H</span> <span>WEEKEND   9:00 H - 13:00 H</span> </div>
                            <div class="address-info"> <i class="fa fa-newspaper-o"></i>
                                <h4>ADDRESS</h4>
                                <span>En Face CAMTEL Bépanda, Douala, Cameroun </div>
                            <div class="contact-info"> <i class="fa fa-phone"></i>
                                <h4>CONTACTS</h4>
                                <span>+237 695 206 496</span> </div>
                        </div>
                    </div>
                    <div class="col-md-8">
                        <div class="mail-us">
                            <h3>ENVOYEZ-NOUS UN E-MAIL </h3>
                            {{ messageStatus }}
                        </div>
                        <div class="main-contact-form">
                            <div id="message"></div>
                            {{ form_start(form) }}
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <i class="fa fa-user"></i>
                                            {{ form_widget(form.lastname, {'attr': {'class': 'form-control'}}) }}
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <i class="fa fa-envelope-o"></i>
                                            {{ form_widget(form.email, {'attr': {'class': 'form-control'}}) }}
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <i class="fa fa-phone"></i>
                                            {{ form_widget(form.telephone, {'attr': {'class': 'form-control'}}) }}
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <i class="fa fa-lightbulb-o"></i>
                                            {{ form_widget(form.subject, {'attr': {'class': 'form-control'}}) }}
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <i class="fa fa-comment"></i>
                                            {{ form_widget(form.content, {'attr': {'class': 'form-control'}}) }}
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            {{ form_widget(form.save, {'attr': {'class': 'btn btn-primary'}}) }}
                                        </div>
                                    </div>
                                </div>
                            {{ form_end(form) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
{% block javascripts %}

<script>
    /*var token = "a2602171-ee9f-405d-9584-15eb1e6ccba8";
        $("#maincontact_form").submit(function (e) {
            e.preventDefault();
            alert("Hello Smtp Js, ask recall");
            var name =$(this).find("#contact_name").val();
            var email =$(this).find("#contact_email").val();
            var subject =$(this).find("#contact_subject").val();
            var phone =$(this).find("#contact_phone").val();
            var message =$(this).find("#contact_message").val();
            alert("nom : "+name);
            var contentMessage = "Nom de l'émetteur : " + name + " | Téléphone : " + phone + "| Email : " + email + " | Message:" +
                message;
            Email.send({
                SecureToken: token,
                To: 'website@restitechsarl.com',
                From: "website@restitechsarl.com",
                Subject: "Vous avez reçu un message depuis votre site : "+subject,
                Body: contentMessage
            }).then(
                () => {
                    $("#contact_name").val("");
                    $("#contact_email").val("");
                    $("#contact_subject").val("");
                    $("#contact_phone").val("");
                    $("#contact_message").val("");
                    console.log("message envoyé");
                }
            );
        })*/
</script>
{% endblock %}